force-app/main/default/flows/Account_Create_Portal_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Portal_Account</name>
        <label>Create Portal Account</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <actionName>AccountPortalCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Create_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>environmentType</name>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>legalEntity</name>
            <value>
                <elementReference>$Record.Legal_Entities__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountPortalCreateInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update</name>
        <label>Update</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <actionName>AccountPortalUpdateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Update_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>environmentType</name>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>legalEntity</name>
            <value>
                <elementReference>$Record.Legal_Entities__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountPortalUpdateInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Existing</name>
        <label>Check Existing</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_on_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Portal_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Update_on_Portal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Update on Portal</label>
        </rules>
        <rules>
            <name>Create_on_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Portal_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Create_Portal_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Portal_Account</targetReference>
            </connector>
            <label>Create on Portal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Create Portal Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Create Portal Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Create_Flag</name>
        <label>Reset Create Flag</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Create_Portal_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Update_Flag</name>
        <label>Reset Update Flag</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Update_on_Portal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Create_Portal_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_on_Portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Existing</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
