force-app/main/default/flows/Account_Send_to_External_Systems_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_External_Accounts</name>
        <label>Update External Accounts</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>AccountUpdateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Gheeraert_Distribution</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>environmentType</name>
            <value>
                <stringValue>PROD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>legalEntity</name>
            <value>
                <stringValue>Gheeraert Transport</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AccountUpdateInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_External_Accounts_GDI</name>
        <label>Update External Accounts GDI</label>
        <locationX>242</locationX>
        <locationY>684</locationY>
        <actionName>AccountUpdateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>environmentType</name>
            <value>
                <stringValue>PROD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>legalEntity</name>
            <value>
                <stringValue>Gheeraert Distribution</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AccountUpdateInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Gheeraert_Distribution</name>
        <label>Is Gheeraert Distribution</label>
        <locationX>374</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_GDI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Entities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gheeraert Distribution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_External_Accounts_GDI</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Gheeraert_Transport</name>
        <label>Is Gheeraert Transport</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_Gheeraert_Distribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Entities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gheeraert Transport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_External_Accounts</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Send to External Systems - UPS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Send to External Systems - Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 4) AND 2 AND 3</filterLogic>
        <filters>
            <field>BC_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Update_External_Customer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_External_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Eurotracs_GDI_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Gheeraert_Transport</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>800</triggerOrder>
</Flow>
