force-app/main/default/flows/Account_Send_to_Eurotracs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_ET_Customer</name>
        <label>Create ET Customer</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>AccountETCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Gheeraert_Distribution</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>environmentType</name>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>legalEntity</name>
            <value>
                <stringValue>Gheeraert Transport</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AccountETCreateInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_ET_Customer_Other</name>
        <label>Create ET Customer Other</label>
        <locationX>242</locationX>
        <locationY>684</locationY>
        <actionName>AccountETCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>environmentType</name>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>legalEntity</name>
            <value>
                <stringValue>Gheeraert Distribution</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AccountETCreateInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Gheeraert_Distribution</name>
        <label>Check Gheeraert Distribution</label>
        <locationX>374</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Reset_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_GDI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Entities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gheeraert Distribution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ET_Customer_Other</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Gheeraert_Transport</name>
        <label>Is Gheeraert Transport</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_Gheeraert_Distribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Entities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gheeraert Transport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ET_Customer</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Send to Eurotracs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Send to Eurotracs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Flag</name>
        <label>Reset Flag</label>
        <locationX>374</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>Create_ET_Only__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_External_Accounts__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_External_Accounts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_External_Accounts__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_ET_Only__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Gheeraert_Transport</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>700</triggerOrder>
</Flow>
